/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 img {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 10px;
  padding: 10px;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 40px;
  padding: 40px;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #B9BDD0;
  color: blue;
}
.main {
  background-color: #E3E8FF;
}
header {
  background-color: #4A68FF;
  color: blue;
  width: 100%;
  margin: 40px;
  padding: 40px;
}
footer {
  background-color: #4A68FF;
  color: blue;
  width: 100%;
  margin: 40px;
  padding: 40px;
}
.big_link {
  background-color: #717480;
  font-family: 'Lato', Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 10px;
  padding: 10px;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */
label {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  margin: 10px;
  padding: 10px;

}

h2 {
  font-size: 1.6rem;
  margin: 10px;
}

h3 {
  font-size: 1.375rem;
  margin: 10px;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}
